.l-header {
    background: #fff;
}

.c-header__nav-dropdown {
    background: #fff!important;
}

.c-menu__opener g {
    fill: #000;
}

.c-nav-dropdown__link {
    color: #000;
}

.c-header__logo svg {
    fill:       #000;
    max-width:  240px;
}