<a href="https://www.newsnow.co.uk/h/Sport/Football/Premier+League/Arsenal" target="_blank" rel="noopener"><img src="{{ theme.parent.link}}/dist/images/newsnow-logo.gif" width="119" height="47" class="u-scale-with-grid" alt="NewsNow Logo"></a>
